<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Index of <%= dir%></title>
    <style type="text/css">
      i.icon {
        display: block;
        height: 16px;
        width: 16px;
      }
      table tr {
        white-space: nowrap;
      }
      td.file-size {
        text-align: right;
        padding-left: 1em;
      }
      td.display-name {
        padding-left: 1em;
      }
      i.icon-_blank {
        background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAWBJREFUeNqEUj1LxEAQnd1MVA4lyIEWx6UIKEGUExGsbC3tLfwJ/hT/g7VlCnubqxXBwg/Q4hQP/LhKL5nZuBsvuGfW5MGyuzM7jzdvVuR5DgYnZ+f99ai7Vt5t9K9unu4HLweI3qWYxI6PDosdy0fhcntxO44CcOBzPA7mfEyuHwf7ntQk4jcnywOxIlfxOCNYaLVgb6cXbkTdhJXq2SIlNMC0xIqhHczDbi8OVzpLSUa0WebRfmigLHqj1EcPZnwf7gbDIrYVRyEinurj6jTBHyI7pqVrFQqEbt6TEmZ9v1NRAJNC1xTYxIQh/MmRUlmFQE3qWOW1nqB2TWk1/3tgJV0waVvkFIEeZbHq4ElyKzAmEXOx6gnEVJuWBzmkRJBRPYGZBDsVaOlpSgVJE2yVaAe/0kx/3azBRO0VsbMFZE3CDSZKweZfYIVg+DZ6v7h9GDVOwZPw/PoxKu/fAgwALbDAXf7DdQkAAAAASUVORK5CYII=");
      }

      i.icon-_page {
        background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAmhJREFUeNpsUztv01AYPfdhOy/XTZ80VV1VoCqlA2zQqUgwMEErWBALv4GJDfEDmOEHsFTqVCTExAiiSI2QEKJKESVFFBWo04TESRzfy2c7LY/kLtf2d8+555zvM9NaI1ora5svby9OnbUEBxgDlIKiWjXQeLy19/X17sEtcPY2rtHS96/Hu0RvXXLz+cUzM87zShsI29DpHCYt4E6Box4IZzTnbDx7V74GjhOSfwgE0H2638K9h08A3iHGVbjTw7g6YmAyw/BgecHNGGJjvfQhIfmfIFDAXJpjuugi7djIFVI4P0plctgJQ0xnFe5eOO02OwEp2VkhSCnC8WOCdqgwnzFx4/IyppwRVN+XYXsecqZA1pB48ekAnw9/4GZx3L04N/GoTwEjX4cNH5vlPfjtAIYp8cWrQutxrC5Mod3VsXVTMFSqtaE+gl9dhaUxE2tXZiF7nYiiatJ3v5s8R/1yOCNLOuwjkELiTbmC9dJHpIaGASsDkoFQGJQwHWMcHWJYOmUj1OjvQotuytt5nHMLEGkCyx6QU384jwkUAd2sxJbS/QShZtg/8rHzzQOzSaFhxQrA6YgQMQHojCUlgnCAAvKFBoXXaHfArSCZDE0gyWJgFIKmvUFKO4MUNIk2a4+hODtDUVuJ/J732AKS6ZtImdTyAQQB3bZN8l9t75IFh0JMUdVKsohsUPqRgnka0tYgggYpCHkKGTsHI5NOMojB4iTICCepvX53AIEfQta1iUCmoTiBmdEri2RgddKFhuJoqb/af/yw/d3zTNM6UkaOfis62aUgddAbnz+rXuPY+Vnzjt9/CzAAbmLjCrfBiRgAAAAASUVORK5CYII=");
      }
      input {
        border: none;
        outline: none;
      }
    </style>
  </head>
  <body>
    <h1>Index of <%= dir%></h1>
    <table>
      <%files.forEach(function(file){%>
          <tr>
            <td><i class="icon icon-<%= file.isFile ? '_page' : '_blank'%>"></i></td>
            <td class="last-modified"></td>
            <td class="file-size"><% if (file.isFile){%><code><%=file.fileSizeStr%></code><%}%></td>
            <td class="display-name"><a href="<%=file.filePath%>"><%=file.filename%></a>
            <% if (file.isFile){%><a href="<%=file.editLink%>" title="编辑">...</a><%}%>
          </td>
          </tr>
      <%})%>
      <tr>
        <td><i class="icon"></i></td>
        <td class="last-modified"></td>
        <td class="file-size"></td>
        <td class="display-name">
            <a href="/admin" title="添加一个目录" id="btn-add-dir">++添加目录++</a>
            <form id="form-add-dir" style="display: none;" action="/admin/saveDir">
              <input class="form-control" type="text" name="url" placeholder="输入一个目录名称" autocomplete="off" />
              <input class="form-control" type="hidden" name="dir" value="<%= dir%>" />
            </form>
          </td>
        </tr>
        <tr>
          <td><i class="icon"></i></td>
          <td class="last-modified"></td>
          <td class="file-size"></td>
          <td class="display-name">
            <a href="/admin" title="添加一个文件" id="btn-add-file">++添加文件++</a>
            <form id="form-add-file" style="display: none;" action="/admin/saveApi">
              <input class="form-control" type="text" name="url" placeholder="输入一个文件名称" autocomplete="off" />
              <input class="form-control" type="hidden" name="content" value="{}" />
          </form>
        </td>
      </tr>
    </table>

    <br />
    <p>Mock Charles Mirror @<%= mockDomain%></p>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script type="text/javascript">
      function setupForm($btn) {
        var $form = $btn.next()
        $btn.click(function (e) {
          e.preventDefault()
          $form.show().find('input').focus()
          $btn.hide()
          isAddFile = false
        })

        $form.find('input').keyup(function(e) {
          if (e.keyCode === 27) {
            $form.hide()
            $btn.show()
          }
        }).blur(function(e) {
          $form.hide()
          $btn.show()
        })

        $form.submit(function (e) {
          e.preventDefault()

          let formData = getFormData($(this))

          if (!formData.url) return

          return $.ajax({
            url: $(this).attr('action'),
            data: formData,
            method: "post",
          }).then(function (res) {
            location.reload()
          });
        })
      }

      setupForm($('#btn-add-dir'))
      setupForm($('#btn-add-file'))

      function getFormData ($form) {
          let formArray = $form.serializeArray();
          let result = {};
          formArray.forEach((item) => {
            result[item.name] = item.value;
          });
          return result;
        }
    </script>
  </body>
</html>
